﻿<html>
<head>
 <style type="text/css">


.panel {
  position: relative;
  background: #fff;
  width: 300px;
  margin: 40px auto;

  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.chart {
  display: inline-block;
  width: 110px;
  margin: 0px auto 20px;
  padding: 0 10px;
}

.easyPieChart {
  position: relative;
  text-align: center;
}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percentage,
.label {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 100;
}

.percentage {
  font-size: 17px;
}

sup {
  top: -0.2em;
  margin-left: 1px;
}

.ctrl {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c4cdcc;
  word-spacing: 5px;
}
.ctrl span {
  cursor: pointer;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
  color: #000;
}

.meta {
  margin: auto;
  max-width: 280px;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  text-align: center;
}

p {
  margin: 0;
  padding: 20px;
  color: #c9cccb;
}
p a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
p + p {
  padding-top: 5px;
  padding-bottom: 20px;
}

 </style> 
</head>
<body>
     <h2>Progress
    </h2>
    <div class="chart">
        <div class="percentage" data-percent="71">
            <span>71</span><sup>%</sup>
        </div>
        
    </div>
               
           
            
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js'></script>
    <script>$('.percentage').easyPieChart({
    animate: 1000,
    lineWidth: 4,
    onStep: function (value) {
        this.$el.find('span').text(Math.round(value));
    },
    onStop: function (value, to) {
        this.$el.find('span').text(Math.round(to));
    }
});</script>
</body>
</html>