﻿@model IEnumerable<AdelphaTimer0._3.Models.Tasks>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table.tbl {
            display: block;
            overflow-x: scroll;
        }

        th, td {
            border-right: solid 1px #ededed;
            width: 120px;
            color: royalblue;
        }
    </style>
</head>
<body>
    <section id="ressources">
        
        <div class="dashboardItem">
            <div class="dashboardItemHeader">Taches</div>
            <div class="dashboardItemBody">
                <table class="tbl">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nom_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Desc_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.D_D_est_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.D_F_est_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Travail_est_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.D_D_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.D_F_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Travail_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Valide_le_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Actif_task)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sponsor.Desc_spon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stories.Nom_st)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desc_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.D_D_est_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.D_F_est_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Travail_est_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.D_D_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.D_F_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Travail_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valide_le_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actif_task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ressources.Nom_res)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sponsor.Desc_spon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stories.Nom_st)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </section>
</body>
</html>
