﻿@model AdelphaTimer0._3.Models.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_D_est_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_D_est_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_F_est_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_F_est_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Travail_est_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travail_est_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_D_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_D_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_F_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_F_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Travail_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travail_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valide_le_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valide_le_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ressources.Nom_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsor.Desc_spon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor.Desc_spon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stories.Nom_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stories.Nom_st)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
