﻿@model IEnumerable<AdelphaTimer0._3.Models.Roles_App>

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table.tbl {
            display: block;
            overflow-x: scroll;
        }

        th, td {
            border-right: solid 1px #ededed;
            width: 120px;
            color: royalblue;
        }
    </style>
</head>
<body>
    <section id="ressources">
        
        <div class="dashboardItem">
            <div class="dashboardItemHeader">Roles Application</div>
            <div class="dashboardItemBody">
                <table class="tbl">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Desc_role_app)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desc_role_app)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id_role_app }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id_role_app }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id_role_app })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </section>
</body>
</html>
