﻿@model AdelphaTimer0._3.Models.Roles_App

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Roles_App</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desc_role_app)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc_role_app)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_role_app }) |
    @Html.ActionLink("Back to List", "Index")
</p>
