﻿@model AdelphaTimer0._3.Models.Stories

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importance_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importance_st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estim_init_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estim_init_st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demontrer_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demontrer_st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demande_par_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demande_par_st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demande_le_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demande_le_st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.Desc_categ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Desc_categ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.Nom_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Nom_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ressources.Nom_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sprints.Etat_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sprints.Etat_sprint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_st }) |
    @Html.ActionLink("Back to List", "Index")
</p>
