﻿@model IEnumerable<AdelphaTimer0._3.Models.Stories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_st)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importance_st)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estim_init_st)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demontrer_st)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demande_par_st)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demande_le_st)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif_st)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.Desc_categ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projects.Nom_proj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sprints.Etat_sprint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_st)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importance_st)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estim_init_st)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demontrer_st)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demande_par_st)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demande_le_st)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif_st)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.Desc_categ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.Nom_proj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ressources.Nom_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sprints.Etat_sprint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_st }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_st }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_st })
        </td>
    </tr>
}

</table>
