﻿@model IEnumerable<AdelphaTimer0._3.Models.Projects>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table.tbl {
            display: block;
            overflow-x: scroll;
        }

        th, td {
            border-right: solid 1px #ededed;
            width: 120px;
            color: royalblue;
        }
    </style>
</head>
<body>

    <section id="ressources">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="dashboardItem">
            <div class="dashboardItemHeader">Projet</div>
            <div class="dashboardItemBody">
                <table class="tbl">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nom_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Desc_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_debut_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_fin_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Charge_Totale_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MAJ_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Charge_conso_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Charge_rest_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Avancement_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ETP_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ecart_charge_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ecart_duree_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etat_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dossier_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Actif_proj)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {                        
                
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Desc_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date_debut_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date_fin_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Charge_Totale_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MAJ_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Charge_conso_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Charge_rest_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Avancement_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ETP_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ecart_charge_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ecart_duree_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Etat_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dossier_proj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Actif_proj)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_proj }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id_proj }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_proj })
                                </td>
                            </tr>
                        }
                    
                </table>
            </div>
        </div>
    </section>
</body>
</html>
