﻿@model AdelphaTimer0._3.Models.Projects

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_debut_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_debut_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge_Totale_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge_Totale_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAJ_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAJ_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge_conso_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge_conso_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge_rest_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge_rest_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avancement_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avancement_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETP_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETP_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ecart_charge_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ecart_charge_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ecart_duree_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ecart_duree_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dossier_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dossier_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_proj)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
