﻿@model IEnumerable<AdelphaTimer0._3.Models.Sprints>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table.tbl {
            display: block;
            overflow-x: scroll;
        }

        th, td {
            border-right: solid 1px #ededed;
            width: 120px;
            color: royalblue;
        }
    </style>
</head>
<body>
    <section id="ressources">
       
        <div class="dashboardItem">
            <div class="dashboardItemHeader">Sprints</div>
            <div class="dashboardItemBody">
                <table class="tbl">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_deb_sprint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_fin_sprint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etat_sprint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Actif_sprint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Projects.Nom_proj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_deb_sprint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_fin_sprint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Etat_sprint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actif_sprint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Projects.Nom_proj)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ressources.Nom_res)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id_sprint }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id_sprint }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id_sprint })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </section>
</body>
</html>

