﻿@model AdelphaTimer0._3.Models.Sprints

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sprints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_deb_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_deb_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.Nom_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Nom_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ressources.Nom_res)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
