﻿@model AdelphaTimer0._3.Models.Sprints

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sprints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_deb_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_deb_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_sprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_sprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.Nom_proj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Nom_proj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ressources.Nom_res)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_sprint }) |
    @Html.ActionLink("Back to List", "Index")
</p>
