﻿@model IEnumerable<AdelphaTimer0._3.Models.Sprints>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date_deb_sprint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_fin_sprint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat_sprint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif_sprint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projects.Nom_proj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ressources.Nom_res)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date_deb_sprint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_fin_sprint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etat_sprint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif_sprint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.Nom_proj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ressources.Nom_res)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_sprint }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_sprint }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_sprint })
        </td>
    </tr>
}

</table>
