﻿@model AdelphaTimer0._3.Models.Teams

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_team)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_team }) |
    @Html.ActionLink("Back to List", "Index")
</p>
