﻿@model IEnumerable<AdelphaTimer0._3.Models.Teams>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif_team)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_team)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif_team)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_team }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_team }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_team })
        </td>
    </tr>
}

</table>
