﻿<head>
    <style type="text/css">
       
       

header,
footer,
nav,
section {
    display: block;
   
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.pageHeader {height:20px; background-color:#056cd5; padding:10px 10px; margin-bottom:10px; color:White; position:relative;}
.pageHeader h1{font:normal 1.2em Arial; color:White; margin:0px; padding:0px;}
.pageHeader .platformular {position:absolute; top:10px; right:10px;}
.pageBody {margin:0 10px;}
.pageFooter {clear:both; padding-top:10px; width:100%; text-align:center; font-size:0.8em; color:#686868; margin:25px 0 0 0; border-top:solid 1px #e7e7e7;}
        
        
        
        
         .dashboard {
            float: left;
            width: 100%;
            
        }

            .dashboard .dashboard3col {
                width: 100%;
                float: left;
            }

        .dashboardCol {
            float: left;
            width: 33%;
            overflow: hidden;
            margin: 0;
        }

        .dashboardItem {
            margin: 0 10px 10px 0;
            border: solid 1px #e7e7e7;
        }

        .dashboardItemHeader {
            font-size: 1.2em;
            font-weight: bold;
            padding: 10px 15px;
            background-color: rgba(71, 165, 243, 0.23);
        }

        .dashboardItemBody {
            margin: 10px;
            overflow: hidden;
        }

        .dashboardFooter {
            clear: both;
            width: 100%;
            background-color: Red;
        }

        .tbl {
            table-layout: auto;
            border-collapse: collapse;
            width: 100%;
        }

            .tbl thead th {
                border-bottom: solid 1px #ededed;
                background-color: #ededed;
                padding: 5px;
                text-align: left;
                color: #9c9c9c;
                font-size: 0.9em;
                font-weight: normal;
            }

            .tbl tbody td {
                border-bottom: solid 1px #ededed;
                padding: 5px;
                color: #686868;
                font-size: 0.9em;
            }
    </style>

</head>

<body>
   
    <div class="pageBody">
        <div class="dashboard">
            <div class="dashboard3Col">
                <div class="dashboardCol">
                    @{Html.RenderAction("_Index", "Projects");}
                    @{Html.RenderAction("_Index", "Demande");}  
                    @{Html.RenderAction("_Index", "Taches");}                 
                  
                </div>
                <div class="dashboardCol">
                    @{Html.RenderAction("_DayTach", "Taches");}              
                    @{Html.RenderAction("_Index", "Sprints");}
                    @{Html.RenderAction("_Daywork", "Taches");}
                </div>
                <div class="dashboardCol">
                    @{Html.RenderAction("_Index", "Teams");}
                    @{Html.RenderAction("_Index", "Ressources");}  
                    @{Html.RenderAction("_Index", "Taches");}                  
                </div>               
                <div class="dashboardFooter"></div>
            </div>
        </div>
    </div>
    <div class="pageFooter">
        AdelphaTimer
    </div>
</body>
