﻿@model AdelphaTimer0._3.Models.Ressources

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ressources</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Psw_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Psw_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_naiss_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_naiss_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_recrut_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_recrut_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles_App.Desc_role_app)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles_App.Desc_role_app)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
