﻿@model AdelphaTimer0._3.Models.Ressources

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ressources</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Psw_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Psw_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_naiss_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_naiss_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_recrut_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_recrut_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles_App.Desc_role_app)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles_App.Desc_role_app)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_res }) |
    @Html.ActionLink("Back to List", "Index")
</p>
