﻿@model IEnumerable<AdelphaTimer0._3.Models.Ressources>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Psw_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_naiss_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_recrut_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif_res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles_App.Desc_role_app)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Psw_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_naiss_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_recrut_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif_res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles_App.Desc_role_app)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_res }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_res }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_res })
        </td>
    </tr>
}

</table>
